<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Históricos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body
    style="font-family: Arial, sans-serif; background-color: #f8f9fa; margin: 0; padding: 0; display: flex; flex-direction: column; min-height: 100vh;">
    <!-- Cabeçalho -->
    <div th:replace="~{fragments/cabecalho :: cabecalho}"></div>

    <!-- Conteúdo principal -->
    <div class="container flex-grow-1" style="padding: 20px;">
        <h1 style="margin-top: 20px; text-align: center; font-size: 2rem; color: #333;">Lista de Históricos</h1>
        <table class="table table-hover"
            style="margin-top: 20px; font-size: 1.1rem; background-color: #fff; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <thead>
                <tr>
                    <th style="background-color: #115c53; color: white; text-align: center;">ID</th>
                    <th style="background-color: #115c53; color: white; text-align: center;">Data</th>
                    <th style="background-color: #115c53; color: white; text-align: center;">Paciente</th>
                    <th style="background-color: #115c53; color: white; text-align: center;">Hospital</th>
                    <th style="background-color: #115c53; color: white; text-align: center;">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="historico : ${historicos}">
                    <td th:text="${historico.idHistorico}" style="vertical-align: middle; text-align: center;"></td>
                    <td th:text="${historico.dataConsulta}" style="vertical-align: middle; text-align: center;"></td>
                    <td th:text="${historico.idPaciente.nomePaciente}"
                        style="vertical-align: middle; text-align: center;"></td>
                    <td th:text="${historico.idHospital.razaoSocial}"
                        style="vertical-align: middle; text-align: center;"></td>
                    <td style="text-align: center;">
                        <a th:href="@{'/historicos/formulario?id=' + ${historico.idHistorico}}" class="text-warning"
                            style="font-size: 1.5rem; margin: 0 10px;">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:href="@{'/historicos/excluir/' + ${historico.idHistorico}}" class="text-danger"
                            style="font-size: 1.5rem; margin: 0 10px;">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${historicos.size() == 0}">
                    <td colspan="5" class="text-center" style="font-size: 1rem; color: #666;">Nenhum histórico
                        encontrado.</td>
                </tr>
            </tbody>
        </table>

        <!-- Paginação -->
        <div class="pagination"
            style="display: flex; justify-content: left; align-items: left; gap: 20px; margin-top: 20px;">
            <!-- Verificar se currentPage não é nulo -->
            <a th:href="@{'/historicos'(page=${currentPage != null ? currentPage - 1 : 1})}"
                th:classappend="${currentPage == 1} ? 'disabled'" class="btn btn-primary"
                style="padding: 10px 20px; text-decoration: none;">
                Anterior
            </a>

            <a th:href="@{'/historicos'(page=${currentPage != null ? currentPage + 1 : 2})}"
                th:classappend="${currentPage == totalPages} ? 'disabled'" class="btn btn-primary"
                style="padding: 10px 20px; text-decoration: none;">
                Próxima
            </a>

        </div>

        <!-- Botão de Adicionar -->
        <a href="/historicos/formulario" class="btn btn-success"
            style="margin-top: 20px; display: block; width: fit-content; font-size: 1.1rem;">
            <i class="fas fa-plus"></i> Adicionar Histórico
        </a>
    </div>


    <!-- Rodapé -->
    <div th:replace="~{fragments/rodape :: rodape}"></div>
</body>

</html>