<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulário de Livros</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>

<body>
    <!-- Inclui o cabeçalho -->
    <div th:replace="fragments/cabecalho :: cabecalho"></div>

    <!-- Conteúdo principal -->
    <div class="container">
        <h1>Formulário de Cadastro de Livros</h1>
            <form th:action="@{/livros/salvar}" method="post">

            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" id="nome" name="nome" class="form-control" th:value="${livro?.nome}" required>

            </div>
            <div class="form-group">
                <label for="autor">Autor</label>
                <select id="autor" name="autor.id" class="form-control" required>
                    <option value="" disabled selected>Selecione um autor</option>
                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nome}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/livros" class="btn btn-secondary">Voltar</a>
        </form>
    </div>

    <!-- Inclui o rodapé -->
    <div th:replace="fragments/rodape :: rodape"></div>
</body>

</html>